
body {
    background-image: url("../img/background_1.jpg");
    background-repeat: no-repeat;
    background-size: 100%; 
    font-family: 'Comfortaa', cursive;
}
button#buscarInsecto{
    margin-left:  1em;
}

div#divImgLogin{
    background-color: #fff;
}

div#contenedoRregistarAdmins{
    height: 60vh;
}



footer{
    position: absolute;
    bottom: 0%;
    width: 100%;
    
}


